.App{
  display: grid;
  grid-template-columns: 20% auto;
}
a, a::after, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 768px){
  .App{
    display: block;
  }
}
